<%- include("partials/header") -%>


    <h2>You have registered successfully!</h2>


    
<!--            <label for="email">IIT Bhilai Email:</label>-->
<!--            <input type="email" id="email" name="email" required placeholder="username@iitbhilai.ac.in">-->

        <p>Kindly login to your account</p>
        <button type="submit" onclick="location.href = '/';">Login</button>

<!--        <a href="forgot_password.php" class="forgot-password">Forgot Password?</a>-->
<!--        <p>Kindly login to your account <a href="file:///Users/msapple/Desktop/study/CSD/three/login.html">Login</a></p>-->

</div>

<%- include("partials/footer") -%>